spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_PORT:5432}/${POSTGRES_DB:orders}
    username: ${POSTGRES_USER:orders_user}
    password: ${POSTGRES_PASSWORD:orders_pass}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

resilience4j:
  retry:
    instances:
      payment:
        max-attempts: 3
        wait-duration: 250ms
  timelimiter:
    instances:
      payment:
        timeout-duration: 1s

logging:
  config: classpath:logback-spring.xml
